.label__form {
  color: var(--white-color);
  margin-bottom: 10px;
}
.AntdForm__form{
  padding: 20px !important;
  background: rgba(1,1,1,0.5);
  border-radius: 15px;
    .AntdForm__wrapper{
      display: grid;
      align-items: center;
      grid-column-gap: 20px;
    }
    .AntdForm__InputNumber{
      width: 100%;
      border: 2px solid #6CA5DC;
    }
}