.label__form {
  color: var(--light-black-color);
  margin-bottom: 10px;
}
.AntdForm__form{
  padding: 20px !important;
  background: rgba(239, 239, 239, 0.5);
  border-radius: 15px;
    .AntdForm__wrapper{
      display: grid;
      align-items: center;
      grid-column-gap: 20px;
    }
    .AntdForm__InputNumber{
      width: 100%;
      border: 2px solid #6CA5DC;
    }
    .AntdForm__textArea__Wrapper{
      text-align: left;

    }
    .AntdForm__btn {
    background-color: #1de33e;
    color: white;
    border: 2px solid  #1de33e;
  }
  .AntdForm__marker__btn{
    width: 100%;
    background-color: purple;
    color: white;
    border: 2px solid purple;
    text-align: center;
  }

    
}