.AdsPage__background{
   background-image: url("https://bogatyr.club/uploads/posts/2024-03/1710183575_bogatyr-club-12nq-p-fon-dlya-prezentatsii-nedvizhimost-3.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   width: auto;
   height: 90vh;
}