.button {
  background: none;
  outline: none;
  border: none;
}

.viewAll {
  padding: 15px 30px;
  background-color: blue;
  font-weight: bold;
  border-radius: 5px;
  color: white;
  margin-top: 50px;
}
