.register {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('../../../shared/assets/img/auth-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  .register__form {
    background: rgba(255, 255, 255, 0.04);
    padding: 20px;
    border-radius: 1rem;
    backdrop-filter: blur(3px);
    width: 30rem;
    border: 1px solid black;

  }

  .register__title {
    font-size: 30px;
    font-weight: bold;
    color: black;
  }
}