.CheckboxesDistrict__wrapper{
   display: flex;
   flex-direction: column;
   overflow:auto;
   height: 50vh;
      .CheckboxesDistrict__Label{
         color: #0073E1;
         font-size: 18px;
      }
}
:global{
   .ant-modal-content{
      //width: 100%;

   }
}
