.header {
  position: sticky;
  top: 0;
  background-color: var(--white-color);
  width: 100%;
  z-index: 1000;
  box-shadow: 0 0 10px 1px black;

  .header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--light-black-color);
    font-size: 15px;
    font-weight: 700;



    ul {
      display: flex;
      column-gap: 50px;
      margin: 0;

      a {
        transition: color 0.1s linear;
        color: var(--light-black-color);
        text-decoration: none;
      }

      a:hover {
        color: var(--light-blue-color);
      }
    }

    img {
      width: 6%;
    }

    .header__right {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 10px;

      .header__favorite-icon {
        color: red;
      }

      .header__phone-icon {
        color: var(--blue-color);
      }

      .header__right-phone {
        display: flex;
        flex-direction: column;
      }
      .header__right-add-btn{
        .header__btn{
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--white-color) ;
          font-family: "Nunito Sans", sans-serif;
          position: relative !important;
          background: #0073e1 !important;
          -webkit-box-shadow: none !important;
          box-shadow: none !important;
          border: none !important;
          text-transform: none !important;
          font-weight: 600 !important;
          padding: 9px 20px !important;
          border-radius: 50px !important;
        }

        .header__btn:before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background-color: #0073e1;
            -webkit-animation: blicks-before 2s infinite linear;
            animation: blicks-before 2s infinite linear;
            border-radius: 50px;
        }


        .header__btn:after {
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
          background-color: #0073e1;
          -webkit-animation: blicks-after 2s infinite linear;
          animation: blicks-after 2s infinite linear;
          -webkit-animation-delay: .5s;
          animation-delay: .5s;
          border-radius: 50px;
        }

        @keyframes blicks-before {
          0% {
            -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 1;
          }

          50% {
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
            opacity: 0;
          }
          100% {
            -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 0;
          }
        }

        @keyframes blicks-after {
          0% {
            -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 1;
          }

          50% {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
            opacity: 0;
          }
          100% {
            -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 0;
          }
        }

        span{
          margin-right:2px;
        }
        a {
          transition: color 0.1s linear;
          color: var(--white-color);
          text-decoration: none;
        }
      }
    }
  }
}

@media screen and (max-width:992px) {
  .header {
    padding: 10px 0;
    .header__wrap {
      ul {
        column-gap: 30px;
        margin: 0;

      }

      a {
        font-size: 18px;
      }

      .header__links {
        font-size: 12px;
      }

      img {
        width: 6%;
      }

      .header__right {
        column-gap: 10px;

        .header__right-add-btn {
          a {
            font-size: 100%;
          }
          .header__btn {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px 20px;
            border-radius: 0.5rem;
            margin: 0;
          }

        }

        .header__favorite-icon {
          font-size: 100%;
          color: red;
        }

        .header__phone-icon {
          color: var(--blue-color);
          font-size: 100%;

        }

        .header__right-phone {
          font-size: 12px;
          display: flex;
          flex-direction: column;
        }
      }



    }
  }
}

@media screen and (max-width:768px) {
  .header {
    padding: 10px 0;
    .header__wrap {


      ul {
        column-gap: 30px;
        margin: 0;

      }

      img {
        width: 6%;
        order: 2;
      }



      .header__right {
        order: 3;
        column-gap: 10px;

        .header__favorite-icon {
          color: red;
        }

        .header__phone-icon {
          color: var(--blue-color);
        }

        .header__right-phone {
          display: flex;
          flex-direction: column;
        }
      }



    }
  }
}

