.card {
  background-color: #fff;
  padding: 40px 20px;
  border-radius: 10px;
  p {
    color: black !important;
    font-size: 20px !important;
  }
  img {
    width: 100%;
  }
}

.ourAgencyCard{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  p {
    margin: 0 !important;
  }
  img {
    width: 20%;
  }
}
