.main__wrapper__fon{
   width: 100%;
   height: 70vh;
   background-image: url('https://kartinki.pics/uploads/posts/2021-04/1617573903_25-p-polnostyu-chernii-fon-30.jpg');
   background-size: cover; /* Покрыть весь экран, сохраняя пропорции */
   background-position: center; /* Центрировать изображение */
   // margin: 20px 0;
}