
.myAdsCard {
  border: 2px solid teal;
  .myAdsCard-content {
    padding: 20px;
    border: 2px solid teal;
  }
  // .myAdsCard-image-wrapper {
  //   display: grid;
  //   grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
  //   align-items: center;
  //   height: 200px;
  // }
}